<h2>Login</h2>
<form class="example-form" #loginForm="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()" required>
        @if (email.invalid) {
        <mat-error>{{errorMessage}}</mat-error>
        }
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Enter password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
</form>