<h2>Sign Up</h2>
<mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" (blur)="updateErrorMessage()" required>
    @if (email.invalid) {
    <mat-error>{{errorMessage}}</mat-error>
    }
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Enter password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Enter password again</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
    <mat-label>Firma</mat-label>
    <input matInput readonly value="FH Technikum Wien">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Straße</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>PLZ</mat-label>
    <input maxlength="4" matInput pattern="[0-9]*">
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Ort</mat-label>
    <input matInput>
</mat-form-field>
<button mat-raised-button color="primary">Sign Up</button>